# Dependencies
node_modules/
.pnp
.pnp.js

# Output
src/_output/*
src/_temp/*

# Testing
coverage/

# Production
dist/
compiled/
*.min.js

# Misc
.DS_Store
*.log
*.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Test files (可选，如果不想提交测试数据)
# test/*.json
