.table-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  .table-track {
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* 保持惯性滚动 */
    overscroll-behavior: none; /* 防止滚动到边缘时的反弹效果 */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.table {
  display: inline-flex;
  flex-direction: column;
  min-width: 100%;
  background: #ffffff;
}

.table.bordered {
  border: 1px solid rgba(5, 5, 5, 0.06);
  border-bottom: none;

  .thead.tr {
    .td {
      &::before {
        display: none;
      }
    }
  }

  .tr {
    .td {
      border-right: 1px solid rgba(5, 5, 5, 0.06);
      &:last-child {
        border-right: none;
      }
    }
  }
}

.placeholder {
  width: 100%;
  height: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5e5e5e;
  height: 60px;
  font-size: 13px;
}
