/* 隐藏 React Refresh 的全屏错误遮罩 */
#react-refresh-overlay, 
iframe[id="react-refresh-overlay"] {
  display: none !important;
}

.mybricks_taro_systemPage {
  height: 100vh !important;
}

.mybricks_com{
  flex-shrink: 0;
  min-height: 0; /* 防止子元素撑开父元素 */
}

view {
  box-sizing: border-box;
}
