.wrap {
  width: 100%;
}

.slot_default_style{
  width: 100%;
  height: 100%;
}

.select {
  display: flex;
  align-items: center;
  width: 100%;

  :global {
    .taroify-input--readonly {
      color: var(--input-color, var(--text-color, var(--gray-8, #323233)))
    }
  }
}